<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <codeBase version="6.9.10.0" href="MySql.Data.dll" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data.Entity.EF6" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <codeBase version="6.9.9.0" href="MySql.Data.Entity.EF6.dll" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DMS.Properties.Settings>
      <setting name="name" serializeAs="String">
        <value>noname</value>
      </setting>
      <setting name="periode" serializeAs="String">
        <value>2018-01-09</value>
      </setting>
      <setting name="code_perusahaan" serializeAs="String">
        <value>03</value>
      </setting>
      <setting name="code_pabrik" serializeAs="String">
        <value>P1</value>
      </setting>
      <setting name="code_depo" serializeAs="String">
        <value>D1</value>
      </setting>
      <setting name="server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>bsixxxxxxxx</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>r</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>n</value>
      </setting>
      <setting name="connect_timeout" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="default_command_timeout" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="Tipe" serializeAs="String">
        <value>BSI</value>
      </setting>
      <setting name="max_total_overdue" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="max_total_credit_limit" serializeAs="String">
        <value>10000000</value>
      </setting>
      <setting name="konsolidasi_server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="konsolidasi_port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="konsolidasi_database" serializeAs="String">
        <value>bsikonsolidasi</value>
      </setting>
      <setting name="konsolidasi_user" serializeAs="String">
        <value>r</value>
      </setting>
      <setting name="konsolidasi_password" serializeAs="String">
        <value>n</value>
      </setting>
      <setting name="konsolidasi_connect_timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="konsolidasi_default_command_timeout" serializeAs="String">
        <value>300</value>
      </setting>
    </DMS.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="dmsEntities" connectionString="metadata=res://*/DmsEF.csdl|res://*/DmsEF.ssdl|res://*/DmsEF.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=neurosoft;persistsecurityinfo=True;database=bsi20250301&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>